<% include partials/header %>

<div class='container'>
  <div class='row'>
    <div class='col s12'>
      <h1 class='text-center'>
        babbl
      </h1>
      <div id='status'></div>
      <div class='chat'>
        <input type='text' id='username' placeholder='Enter your babbl name' />
        <br>
        <div class="col s12 m5">
          <div class="card-panel" id='messages'></div>
        </div>
        <br>
        <textarea class='materialize-textarea' id='textarea' placeholder='Start to babbl!'></textarea>
        <button id='clearchat'>Clear Chat</button>
    </div>
  </div>
</div>

<% include partials/footer %>
